.loader{
  position: fixed;
  background-color: rgba($color: $color-primary, $alpha: .8);
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 10;

  &-ring{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: 2px solid $color-grey-400 ;
    border-top:5px solid $color-primary ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rotate .3s infinite;
    transform-origin: 0% 0%;
  }
  
  @keyframes rotate {
    50%{
      rotate: 0deg;
    }
    
    100%{
      rotate: 360deg;
    }
  }

}